Source: sonic-pi
Section: unknown
Priority: optional
Maintainer: Xiong Jiang <gotouch.go@gmail.com>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.9.8
Homepage: https://github.com/sonic-pi-net/sonic-pi

Package: sonic-pi
Architecture: armhf
Depends: ${shlibs:Depends},
 libasound2 (>= 1.0.16),
 libatomic1 (>= 4.8),
 libffi6 (>= 3.0.12~rc1),
 libgcc1 (>= 1:3.5),
 libgmp10,
 libssl1.1 (>= 1.1.0),
 libx11-6,
 erlang-base,
 jackd2,
 libaubio5,
 ruby,
 sc3-plugins-server,
 supercollider-server
Recommends: compton
Description: Sonic Pi is a code-based music creation and performance tool
 Sonic Pi is a code-based music creation and performance tool.
 .
 Simple enough for computing and music lessons.
 Powerful enough for professional musicians.
 Free to download with a friendly tutorial.
 Diverse community of over 1.5 million live coders.
 .
 Learn to code creatively by composing or performing music in an incredible range of styles
 from Classical & Jazz to Grime & EDM.
 Brought to you by Sam Aaron and the Sonic Pi Core Team
 Please support us on Patreon to help keep Sonic Pi free.
 We currently have 606 out of 1000 supporters needed to continue.
 .
 Originally created at the University of Cambridge Computer Laboratory.
 Developed with kind support from many contributors and generous Patreon supporters.
 Sonic Pi is an Open Source Project released under the MIT Licence.
