#!/usr/bin/make -f

DPKG_EXPORT_BUILDFLAGS = 1
include /usr/share/dpkg/default.mk
export DEB_BUILD_MAINT_OPTIONS = hardening=+all
include /usr/share/dpkg/buildflags.mk
export QT_SELECT = qt5

%:
	dh $@ --parallel --buildsystem=qmake --sourcedirectory=app/gui/qt --builddirectory=app/gui/qt

# This is based on upstream's Raspbian builder script app/gui/qt/rp-build-app

override_dh_auto_configure:
	cd app/server/ruby/vendor/ruby-beautify/lib && \
		cp    ruby-beautify.rb ruby-beautify-legacy.rb && \
		cp -r ruby-beautify    ruby-beautify-legacy && \
		chmod 644 ruby-beautify-legacy.rb ruby-beautify-legacy/*.rb ruby-beautify-legacy/config/*.rb

	# Compile erlang - OSC and pi_server
	cd app/server/erlang/ && \
		erlc osc.erl pi_server.erl

	# 	# Compile ruby extensions
	# 	cd app/server/ruby/bin && \
	# 		./compile-extensions.rb && \
	# 		./i18n-tool.rb -t

	# OSMID
	cd app/gui/qt/external/osmid/ && \
		cmake -DCMAKE_INSTALL_PREFIX=/usr -B build -S . && \
		make -j$(nproc) VERBOSE=1 -C build && \
		mv build/o2m . && \
		mv build/m2o . && \
		rm -rf build

	# # Help template
	cd app/gui/qt/ && \
		cp -vf utils/ruby_help.tmpl utils/ruby_help.h && \
		../../server/ruby/bin/qt-doc.rb -o utils/ruby_help.h

	# Translations
	cd app/gui/qt/ && \
		lrelease SonicPi.pro
		# lrelease lang/*.ts

	# GUI
	cd app/gui/qt/ && \
		cmake -DCMAKE_INSTALL_PREFIX=/usr -B build -S . && \
		make -j$(nproc) VERBOSE=1 -C build && \
		mv build/sonic-pi . && \
		rm -rf build

	dh_auto_configure

override_dh_auto_test:
ifeq (,$(filter nocheck,$(DEB_BUILD_OPTIONS)))
	cd app/server/ruby/test ; \
		ruby -e 'require "ruby_debian_dev"; include RubyDebianDev; SUPPORTED_RUBY_VERSIONS.each { |v, b| system("#{b} /usr/bin/rake test") or raise "test failed for #{v}" }'
	dh_auto_test
endif

override_dh_clean:
	if [ -e app/gui/qt/Makefile ]; then \
			make -C app/gui/qt/Makefile clean; \
		fi ;
	rm -rf \
		app/server/ruby/vendor/ruby-beautify/lib/ruby-beautify-legacy.rb \
		app/server/ruby/vendor/ruby-beautify/lib/ruby-beautify-legacy \
		app/gui/qt/build/ \
		app/gui/qt/Makefile \
		app/gui/qt/utils/ruby_help.h \
		app/gui/qt/help_files.qrc \
		app/gui/qt/lang/*.qm \
		app/gui/qt/book/ \
		app/gui/qt/help/ \
		app/gui/qt/info/ \
		app/server/ruby/lib/sonicpi/osc/websocket_server.rb \
		app/server/ruby/vendor/rubame/

	dh_clean
